hi{
    font-size: 40px;
}

.line{
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
}


#App{
    background-color: lightblue;
}

#Games{
    background-color: lightcoral;
}

#Chatbot{
    background-color: lightpink;
}

img{
    width: 300px;
}

#myCarousel{
    background-color: red;
}

#myCarousel img{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p{
    margin-top: 15px;
    color: white;
    font-size: 20px;
}